<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signUp page</title>
</head>
<body> 
  <h1>SignUp</h1>
  <form action="/user" method="post">
    <div>
      <label for="">name</label>
      <input type="text" required name="name">
    </div>
    <div>
      <label for="">email</label>
      <input type="text" required name="email">
    </div>
    <div>
      <label for="">password</label>
      <input type="text" required name="password">
    </div>
  <button type="submit">signUp</button>
  </form>
</body>
</html>